.app nav {
  display: flex;
  border: 1px solid #ccc;
  width: auto;
}

.app nav a{
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.app nav a.active {
  color: #f40;
}